body {
  font-family: EB Garamon, serif;
}

.box-wrapper {
  max-width: 680px;
  margin: 0 auto;
}
.box {
  padding: 20px;
  border: 1px solid #dadde1;
}

.overview {
  margin-bottom: 10px;
}

h1 {
  font-size: 35px;
  line-height: 28px;
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

.float-left {
  float: left;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature small {
  position: relative;
  top: -32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 18px;
  opacity: 0.8;
}
.forecast-temp {
  font-size: 16px;
}
.forecast-temp-max {
  opacity: 0.6;
}
.forecast-temp-min {
  opacity: 0.4;
}
