body {
  font-family: EB Garamon, serif;
  background-color: rgb(224, 197, 162);
}

.box-wrapper {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 80px;
}
.box {
  padding: 20px;
  border: 2px solid #dadde1;
  box-shadow: 5px 5px 5px rgba(206, 202, 202, 0.774);
  margin-bottom: 5px;
}

.overview {
  margin-bottom: 10px;
}

.button {
  background-color: #48484a;
  color: white;
  border: 1px solid rgba(124, 123, 123, 0.411);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(192, 189, 189);
  position: relative;
  right: -280px;
  padding: 7px 15px;
}

h1 {
  font-size: 35px;
  line-height: 28px;
  font-weight: 100;
  color: #515153e5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  color: #515153e5;
}

li:first-letter {
  text-transform: capitalize;
}

.float-left {
  float: left;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #3b3b3de5;
}

.weather-temperature small {
  position: relative;
  top: -32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 18px;
  opacity: 0.8;
}
.forecast-temp {
  font-size: 16px;
}
.forecast-temp-max {
  opacity: 0.6;
}
.forecast-temp-min {
  opacity: 0.4;
}

.box-wrapper small {
  color: #48484a;
}

.box-wrapper small a {
  text-decoration: none;
  color: #eb6e4b;
}
